.modal {
  display: none;
  margin: 0;
  position: fixed;
  z-index: 1;
  padding-top: 8rem;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);
}
.modal .modal-content {
  background-color: #ddd;
  margin: auto;
  padding: 0;
  padding-bottom: 2.5rem;
  width: 40%;
  min-width: 300px;
  animation: growModal 0.4s;
}
@keyframes growModal {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.modal .modal-content .close {
  color: #858585;
  position: relative;
  left: 90%;
  font-size: 28px;
  font-weight: bold;
}
.modal .modal-content .close:hover, .modal .modal-content .close:focus {
  color: maroon;
  text-decoration: none;
  cursor: pointer;
}

#form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
#form div {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
}
#form div .labelWrap {
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 90%;
}
#form div .labelWrap label {
  color: #495249;
}
#form div input {
  background-color: #eee;
  border: none;
  border-bottom: 0.2rem solid #ccc;
  height: 2rem;
  width: 90%;
  padding: 0.5rem 1rem;
  font: italic 1.8rem "Cascadia Code";
  transition: all 0.2s ease-in-out;
}
#form div input:hover {
  border-bottom: 0.2rem solid green;
}
#form div input:hover, #form div input:focus {
  outline: none;
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}
#form div input:focus {
  border-bottom: 0.2rem solid green;
  transition: all 0.2s ease-in-out;
}
#form div#pages {
  font-style: normal;
}
#form .read {
  display: flex;
  flex-direction: row;
}
#form .read label {
  cursor: pointer;
}
#form .read input {
  border: none;
  height: 1rem;
  width: 2rem;
}
#form .read input:hover, #form .read input:focus {
  background-color: inherit;
  outline: inherit;
  transform: scale(2);
}

#library {
  color: #000;
  display: flex;
  padding-top: 11rem;
  flex-wrap: wrap;
  justify-content: center;
}

.book {
  border-radius: 1rem;
  margin: 2rem;
  padding: 1em;
  background-color: #999;
  box-shadow: 5px 5px 10px -4px;
  opacity: 50%;
  height: 20rem;
  width: 15rem;
  transition: all 0.1s ease-in-out;
}
.book:hover {
  transform: scale(1.05);
  background-color: #aaa;
  box-shadow: 10px 10px 30px -8px;
  transition: all 0.1s ease-in-out;
}
.book .textRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 2rem;
  margin-bottom: 4rem;
  cursor: default;
}
.book .textRow h2 {
  margin: 1rem;
}
.book .textRow h3 {
  margin: 0;
}

.buttonRow {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.buttonRow .editButton {
  background: url(../images/edit.png) no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border: none;
}
.buttonRow .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.buttonRow .switch .checkboxRead {
  opacity: 0;
  width: 0;
  height: 0;
}
.buttonRow .switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;
  border-radius: 34px;
}
.buttonRow .switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: 0.4s;
  border-radius: 50%;
}
.buttonRow .switch .checkboxRead:checked + .slider {
  background-color: #2196f3;
}
.buttonRow .switch .checkboxRead:checked + .slider:before {
  transform: translateX(26px);
}
.buttonRow .switch .checkboxRead:focus + .slider {
  box-shadow: 1 1 1px #1872bb;
}
.buttonRow .deleteButton {
  background: url(../images/trash-outline.svg) no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border: none;
  display: flex;
  justify-content: center;
}

body {
  display: block;
  margin: 0;
  font-family: "Open Sans";
  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;
  position: fixed;
  width: 100%;
  padding: 1rem;
  background-color: #00ff6a;
}

.app-title {
  margin: 0;
  padding: 1rem;
}

.button {
  background-color: #fff;
  color: #4caf50;
  border: medium solid #4caf50;
  margin: 0.6rem;
  padding: 0.8rem 1.6rem;
  font-size: 1.2rem;
  box-shadow: 5px 5px 20px -13px #000;
  border-radius: 2rem;
  transition: all 0.2s ease-in-out;
  color: green;
  cursor: pointer;
}
.button:hover {
  background-color: #4caf50;
  border: medium solid #4caf50;
  color: white;
  transition: all 0.2s ease-in-out;
}

/*# sourceMappingURL=style.css.map */
