body {
  display    : block;
  font-family: 'Open Sans';
}

div {
  margin: 1rem auto
}

#input {
  display: block
}

#values {
  display: block
}

#library {
  color          : #000;
  display        : flex;
  flex-wrap      : wrap;
  justify-content: center;
}

.book {
  background-color: rgb(148, 148, 148);
  padding         : 1em;
  opacity         : 50%;
  border-radius   : 1rem;
  margin          : 2rem;
  height          : 20rem;
  width           : 15rem;

}

.textRow {
  display        : flex;
  flex-direction : column;
  align-items    : center;
  justify-content: space-evenly;
  margin         : 0;
  cursor         : default
}

.buttonRow {
  display        : flex;
  align-items    : center;
  justify-content: space-evenly;

}

.deleteButton {
  background-color   : white;
  background         : url(images/remove.png);
  background-size    : cover;
  background-repeat  : no-repeat;
  background-position: center center;
  cursor             : pointer;
  width              : 3rem;
  height             : 3rem;
  border             : none;
}

/*################################
#   Modal
################################*/

/* The Modal (background) */
.modal {
  display         : none;
  margin          : 0;
  position        : fixed;
  z-index         : 1;
  padding-top     : 100px;
  left            : 0;
  top             : 0;
  width           : 100%;
  height          : 100%;
  overflow        : auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
  background-color: #fefefe;
  margin          : auto;
  padding         : 20px;
  border          : 1px solid #888;
  width           : 80%;
}

/* The Close Button */
.close {
  color      : #aaaaaa;
  float      : right;
  font-size  : 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color          : #000;
  text-decoration: none;
  cursor         : pointer;
}


/*################################
#   Switches
################################*/

.switch {
  position: relative;
  display : inline-block;
  width   : 60px;
  height  : 34px;
}

.switch input {
  opacity: 0;
  width  : 0;
  height : 0;
}

.slider {
  position          : absolute;
  cursor            : pointer;
  top               : 0;
  left              : 0;
  right             : 0;
  bottom            : 0;
  background-color  : #ccc;
  -webkit-transition: .4s;
  transition        : .4s;
  border-radius     : 34px;
}

.slider:before {
  position          : absolute;
  content           : "";
  height            : 26px;
  width             : 26px;
  left              : 4px;
  bottom            : 4px;
  background-color  : white;
  -webkit-transition: .4s;
  transition        : .4s;
  border-radius     : 50%;
}

input:checked+.slider {
  background-color: #2196F3;
}

input:focus+.slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform    : translateX(26px);
  transform        : translateX(26px);
}