body {
  display: block;

}

#app {
  //
}

div {
  margin: 1rem auto
}

#input {
  display: block
}

#values {
  display: block
}

#library {
  display        : flex;
  flex-wrap      : wrap;
  justify-content: center;
}

.book {
  background-color: rebeccapurple;
  padding         : 1em;
  opacity         : 50%;
  border-radius   : 1rem;
  margin          : 2rem;
  height          : 20rem;
  width           : 15rem;

}

.book button {
  width           : 15px;
  height          : 15px;
  background-color: rgb(255, 0, 0);
}