#library {
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.book {
  border-radius: 1rem;
  margin: 2rem;
  padding: 1em;
  background-color: #949494;
  -webkit-box-shadow: 5px 5px 10px -4px;
          box-shadow: 5px 5px 10px -4px;
  opacity: 50%;
  height: 20rem;
  width: 15rem;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.book:hover {
  background-color: #a7a7a7;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.textRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 2rem;
  margin-bottom: 4rem;
  cursor: default;
}

.textRow h2 {
  margin: 1rem;
}

.textRow h3 {
  margin: 0;
}

.buttonRow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.buttonRow .editButton {
  background: url(../images/edit.png) no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border: none;
}

.buttonRow .deleteButton {
  background: url(../images/trash-outline.svg) no-repeat;
  background-size: cover;
  background-position: center center;
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

/* .deleteIcon {
  width : 3rem;
  height: 3rem;
  color : #000;
} */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch .checkboxRead {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.switch .slider:before {
  position: absolute;
  content: '';
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}

.switch .checkboxRead:checked + .slider {
  background-color: #2196f3;
}

.switch .checkboxRead:checked + .slider:before {
  -webkit-transform: translateX(26px);
          transform: translateX(26px);
}

.switch .checkboxRead:focus + .slider {
  -webkit-box-shadow: 0 0 1px #2196f3;
          box-shadow: 0 0 1px #2196f3;
}
/*# sourceMappingURL=book.css.map */